{% load static %}
<link rel="stylesheet" href="{% static 'header.css' %}" type="text/css">

<div class="header">
  <a class="logout-button" href="{% url 'logout' %}">Log Out</a>
  <img src="{% static 'Dessert.png' %}" alt="Dessert-img">

  {% if user.username %}

  {% endif %}

  <div class="header-content">

    <h1 class="header-title">Dessert Island</h1>

    {% if user.username %}
      <h4 class="header-greet">Welcome {{ user.username }}!</h4>

    {% endif %}
  </div>
</div>

{% block content %}
{% endblock %}
